:root {
  /* --clr-primary: hsl(0, 89%, 51%); */
  /* --clr-primary: hsl(200, 67%, 36%); */
  --clr-primary: hsl(13, 25%, 60%);
  --clr-primary-200: hsl(13, 25%, 80%);
  --clr-primary-600: hsl(13, 25%, 40%);
  --clr-secondary: hsl(358, 65%, 49%);
  --clr-background: hsl(0, 5%, 96%);
  --clr-gray-200: hsl(0, 0%, 80%);
  --clr-gray-300: hsl(0, 0%, 70%);
  --clr-gray-400: hsl(0, 0%, 60%);
  --clr-gray-600: hsl(0, 0%, 42%);
  --clr-gray-900: hsl(0, 0%, 25%);
  --clr-error: hsl(350, 66%, 53%);
  --clr-error-300: hsl(350, 66%, 63%);
  --clr-star: hsl(48, 100%, 50%);
  /* --clr-error: rgb(214, 56, 82); */
}

@font-face {
  font-family: "Platipy";
  src: url("../assets/fonts/Platypi.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Platipy", serif;
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

body {
  padding-top: 4rem;
}

.container {
  place-items: center;
  grid-template-columns: 1fr;
  gap: 2rem;
}

main {
  grid-template-columns: auto 1fr;
  gap: 4rem;
  width: 900px;
  height: 700px;
  margin: 0 auto;
}

.info {
  grid-template-columns: 1fr;
  background-color: #f5f5f5;
  align-items: center;
  align-content: start;
  gap: 1rem;
  padding: 1rem;

  .card {
    align-items: center;

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      /* background-color: #bbb; */
      border: 1px solid #ccc;
      /* padding: 1rem; */
      height: 60px;
      width: 60px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    .player-name {
      font-size: 1.5rem;
      max-width: 200px;
      border: 1px solid #ccc;
      background-color: transparent;
      border-radius: 50vh;
      padding-inline: 1rem;
      padding-bottom: 0.5rem;
      text-align: center;

      &:focus {
        background-color: #fff;
        outline: none;
      }
    }

    .player-color {
      overflow: hidden;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      /* border: 2px solid black; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .color-picker {
      flex-shrink: 0;
      -webkit-appearance: none;
      appearance: none;
      border: none; /* Remove default border */
      width: 80px; /* Set a fixed width */
      height: 80px; /* Set a fixed height to match width for a circle */
      border-radius: 50%; /* Make it circular */
      cursor: pointer; /* Change cursor on hover */
      padding: 0; /* Reset padding */
      background: none; /* Optional: remove background */
      /* overflow: hidden; */
    }

    /* Specific styles for WebKit/Blink to remove inner border in Chrome, Safari, etc. */
    .color-pickerr::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    .color-picker::-webkit-color-swatch {
      border: none;
    }
  }
}

.board {
  background: #ccc;
  border: 2px solid darkolivegreen;
}

.title {
  font-size: 2rem;
}

.pick-avatar {
  padding: 2rem;
  min-width: 800px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #ccc;
  border-radius: 8px;

  &:foucs,
  &:active {
    outline: none;
  }
}

.dialog-grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  place-items: center;
}

.avatar-icon {
  width: 60px;
  height: 60px;
}

.card .avatar-icon {
  width: 40px;
  height: 40px;
}

.dialog-choice {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgb(0 0 0/ 10%);

  :focus {
    background-color: #bbb;
  }
}
